.infoLargeItem {
    grid-row: 1 / span 2;
    background-color: #41b294;
    background-image: url(../../assets/img/astronaut.png);
    background-position: 100% 100%;
    background-size: 50%;
    background-repeat: no-repeat;
}
.infoItemHome {
    position: relative;
    overflow: hidden;
    padding: 20px;
    cursor: default;
}

.iconCheck {
    -webkit-text-stroke: 1px white;
}

.infoItemHome::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        110deg,
        rgba(0, 0, 0, 0) 30%,
        rgba(255, 255, 255, 0.4) 60%,
        rgba(0, 0, 0, 0) 65%
    );
    transform: translateX(-100%);
    transition: all 0;
}

.infoItemHome:hover::after {
    transform: translateX(100%);
    transition: all 1s;
}
