.cardGlobal {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    width: 280px;
    min-width: 280px;
    min-height: 370px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.imgCardBody {
    height: 40px;
    width: 40px;
    padding: 2px;
    border-color: #f6ba35 transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #f6ba35;
    border-right: 1px solid transparent;
    border-top: 1px solid #f6ba35;
    border-radius: 50%;
}

.cardSale {
    left: -6px;
    top: 5px;
}

.cardSale::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -10px;
    border-bottom: 10px solid transparent;
    border-right: 5px solid red;
}

.cardSale::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0.6px;
    right: -12px;
    border-color: red transparent;
    border-style: solid;
    border-width: 15px 12px 15px 0;
}

.subCard {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: -10%;
    right: -132%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    width: 350px;
    min-width: 280px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.subCard::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}

.subCardOverflow::before {
    left: 350px;
    border-right: 15px solid transparent;
    border-left: 15px solid white;
}

.cardGlobal:hover .subCard {
    visibility: visible;
    opacity: 1;
    z-index: 99;
}
