.banner .btnBanner {
    color: white;
    background-color: #f6ba35;
    border: none;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 15px;
}

.banner h1 {
    font-weight: 600;
}

.banner h1:nth-of-type(3) {
    font-size: 65px;
    color: #41b294;
    overflow: hidden;
    animation: aniText 3s linear infinite;
}

.banner .triangleTopRight {
    transform: rotate(-45deg);
    position: absolute;
    top: 5%;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid #f6ba35;
}

.banner .smallBox {
    position: absolute;
    z-index: 1;
    height: 10%;
    width: 10%;
    background-image: radial-gradient(#41b294 10%, transparent 11%),
        radial-gradient(#41b294 10%, transparent 11%);
    background-size: 10px 10px;
}

.banner .smallboxLeftTop {
    top: 10%;
    left: 10%;
    height: 70px;
    width: 20%;
}

.banner .smallboxRightBottom {
    bottom: 10%;
    left: 70%;
    height: 10%;
    width: 10%;
    background-image: radial-gradient(#ed85ab 10%, transparent 11%);
}

.banner .smallboxRightTop {
    top: 13px;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: radial-gradient(#f6ba35 10%, transparent 11%);
}

.banner .doubleBox {
    left: 74%;
}

.paperPlane {
    position: absolute;
    object-fit: cover;
    right: 20%;
    top: 20%;
    width: 20%;
    height: 20%;
}

.sliderSubImg {
    position: absolute;
    width: 15%;
    height: 15%;
}

.sliderCodeImg {
    left: 20%;
    top: 50%;
    -webkit-animation: aniSider 4s infinite;
    animation: aniSider 4s infinite;
}

.sliderMesImg {
    top: 42%;
    right: 45%;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-animation: aniMessage 4s linear 3s infinite;
    animation: aniMessage 4s linear 3s infinite;
}

.sliderCloudImg {
    top: 0;
    left: 0;
    -webkit-animation: aniCloud 5s linear infinite;
    animation: aniCloud 5s linear infinite;
}

.sliderCloud2Img {
    top: 30%;
    left: 20%;
    -webkit-animation: aniCloud 7s linear 2s infinite;
    animation: aniCloud 7s linear 2s infinite;
}

.sliderCloud3Img {
    top: 15%;
    left: 25%;
    -webkit-animation: aniCloud 5s linear 2s infinite;
    animation: aniCloud 5s linear 2s infinite;
}

@keyframes aniCloud {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes aniMessage {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes aniSider {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
    }
}

@keyframes aniText {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
