.searchPage {
    box-sizing: border-box;
}

.searchPage .checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid #41b294;
    border-radius: 5px;
}

.searchPage .checkbox:checked ~ .checkMark {
    background: #41b294;
}

.searchPage .checkbox:checked ~ .checkMark i {
    display: inline-block;
}

.searchPage .checkBox .checkMark i {
    position: absolute;
    display: none;
    left: 3px;
    top: 2px;
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-animation: zoomI 0.2s ease-in-out;
    animation: zoomI 0.2s ease-in-out;
}

.searchPage .checkBox i.checked {
    display: inline-block;
}

.searchPage .btn-viewDetail {
    display: block;
}

.searchPage .btn-removeCourse {
    display: none;
}

@keyframes zoomI {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    90% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
