.banner-thongtin {
    background-image: url('https://demo2.cybersoft.edu.vn/static/media/bgAbout.19ac825c.png');
    background-position: 50%;
    padding: 150px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
}

.content {
    text-align: center;
}

.imgThongTin {
    width: 100%;
    height: 100%;
    height: 382px;
    object-fit: contain;
}

.divImgGreen {
    background: url('https://demo2.cybersoft.edu.vn/static/media/solutions-hero-green-bg.15753edf.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
.divImgBlue {
    background: url('https://demo2.cybersoft.edu.vn/static/media/solutions-hero-royalBlue-bg.e6aa17e0.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.footercontainer h3 {
    font-size: 25px;
}

.infor h6 {
    text-transform: uppercase;
    color: #41b294;
    font-size: 20px;
    font-weight: 600;
}
.infor h5 {
    color: #012025;
    font-size: 40px;
    padding: 10px 0;
}
.infor p {
    line-height: 2.2;
    color: #8c8c8c;
}
.infor p:first-letter {
    font-size: calc(60px + 0.75vw);
    line-height: 40px;
    color: #cd5c5c;
    float: left;
    padding-top: 10px;
    padding-right: 5px;
    font-family: Sansita One;
}

.footer {
    background-color: #f0f8ff;
}

.textLogo {
    color: #252525;
    font-family: 'fontPoppin';
    display: inline-block;
    position: relative;
    font-size: 25px;
    transition: all 0.3s;
    text-shadow: 5px -2px 3px #54d2c0;
    font-weight: 800;
}
.textLogo:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.icon {
    padding: 12px;
    border-radius: 50%;
    background-color: #41b294;
    color: white;
}

.footercontainer li {
    padding-top: 10px;
    transition: 0.5s;
}

.footercontainer li:hover {
    color: #01877e;
    transform: translateY(-5px);
}

.button:hover {
    transform: scale(0.9);
    transition: 0.5s;
}

.input {
    display: block;
    border: 2px solid #45706e;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 25px;
}

.input:focus {
    border-radius: 6px;
    transform: translateX(-2px);
}

#myBtn {
    position: fixed;
    z-index: 99;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    color: #fff;
    line-height: 40px;
    border-radius: 8px;
    text-align: center;
    background-color: #41b294;
}

#myBtn:hover {
    background-color: #555;
}

html {
    scroll-behavior: smooth;
}
