.ant-modal-header {
    padding: 10px 50px;
    background: transparent !important;
    border-bottom: 1px solid white;
}

.ant-modal-title {
    color: white !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.ant-modal-content {
    background-image: url(../../../assets/img/hornor.a74f5377.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 0 !important;
}

.ant-modal-body {
    padding: 20px 50px;
}

.ant-form-item label {
    color: white !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}

.ant-form-item label::before {
    content: '' !important;
}

.ant-modal-footer {
    margin-top: 0 !important;
    padding: 0 50px 32px !important;
}

.ant-modal-content .anticon svg {
    display: none;
}

.ant-modal-content .ant-modal-close-x::after {
    content: 'x';
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
}

.ant-form .ant-input {
    padding: 5px 15px;
    border: 2px solid #41b294;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.ant-form .ant-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: black;
}
