.bgFull {
    background-image: url(../../assets/img/bgLogin.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bgForm {
    background: rgba(244, 242, 242);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    width: 80vw;
    height: 83vh;
    max-width: 100%;
    max-height: 100%;
}

.formLoginUser {
    background: var(--colorWhite);
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputSpace {
    /* width: 300px; */
    padding: 3% 80% 2% 3%;
    background-color: rgb(195, 191, 191);
    border: 1px solid;
}

.buttonLogin {
    padding: 4% 20% 10%;
    font-weight: bold;
    background-color: rgb(54, 134, 123) !important;
    color: white;
    border-radius: 20px;
}

.overlay-container {
    /* position: absolute; */
    top: 0;
    left: 50%;
    width: 50%;
    overflow: hidden;
    z-index: 100;
    height: 100%;
}

.overlay {
    background: url(https://demo2.cybersoft.edu.vn/static/media/bg-all.2b72c7ac.png);
    background-size: cover;
    color: white;
    position: relative;
    left: -200%;
    width: 200%;
    height: 100%;
    box-sizing: border-box;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    left: 10%;
    transform: translateX(-20%);
}
