.profilePage .ant-tabs-nav::before {
    border: none;
}

.profilePage .ant-tabs-nav {
    margin: 0;
}

.profilePage .ant-tabs-nav-list {
    border-top: 1px solid #41b294;
}

.profilePage .ant-tabs-tab .ant-tabs-tab-btn:active {
    color: white;
}

.profilePage .ant-tabs-tab {
    padding: 14px 16px !important;
    margin: 0 !important;
    font-size: 16px;
    border-radius: 0 !important;
    color: white !important;
    background: #41b294 !important;
    border: none !important;
    border-top: 1px solid #41b294 !important;
}

.profilePage .ant-tabs-tab.ant-tabs-tab-active {
    background: green !important;
    color: black !important;
    background: white !important;
    border: none;
}

.profilePage .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #252525 !important;
}

.profilePage .progress {
    width: 100%;
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.profilePage .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
    animation: 1s linear infinite progress-bar-stripes;
}

.profilePage .progress-bar-striped {
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
}

.profilePage .progress-html {
    width: 100%;
    background-color: #f9ca9a;
}

.profilePage .progress-css {
    width: 72%;
    background-color: #f8bebb;
}

.profilePage .progress-js {
    width: 50%;
    background-color: #f0cc6b;
}

.profilePage .progress-react {
    width: 80%;
    background-color: #113d3c;
}

.profilePage .btn-viewDetail {
    display: none;
}

.profilePage .btn-removeCourse {
    display: block;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 1rem 0;
    }

    100% {
        background-position: 0 0;
    }
}
