.CourseLearn .fa-check {
    -webkit-text-stroke: 1px #f6ba35;
}

.lessonContainer .lessonItem {
    margin-top: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 1px rgba(239, 244, 190, 0.27);
}

.sidebar_content {
    box-shadow: 1px 1px 10px 4px #dadada;
}

.inputCoupon::placeholder {
    color: #8c8c8c;
}

.formCoupon:focus-visible {
    outline: none !important;
    border: none;
}

.inputCoupon:focus-visible {
    outline: none !important;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    transform: translateX(-2px);
}

.swal2-title {
    color: #41b294 !important;
}

.swal2-icon-show {
    border-color: #f8bb86 !important;
    color: #f8bb86 !important;
}
