.classBoxItem {
    flex: 1;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.classBoxItem p {
    font-weight: 500;
}

.classBoxItem i {
    margin: 10px 0;
    font-size: 30px;
}

.classBoxItem div {
    font-size: 20px;
}

.pagination {
    margin-top: 60px;
    margin-bottom: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
}

.pagination .page-num {
    padding: 8px 12px;
    margin-left: 5px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: 2px solid #41b294;
    border-radius: 5px;
}

.pagination .page-num.active {
    background: #41b294;
    color: white;
    border-color: rgba(17, 61, 60, 0.5);
}

@media only screen and (max-width: 767px) {
    .pagination .page-num {
        padding: 4px 8px;
        font-size: 10px;
    }
}
