.header_notTop {
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);
}

.search_input {
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    margin-left: 15px;
    background-image: url(../../assets/img/search.png);
    background-size: 30px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

.search_input_mobile::placeholder {
    font-size: 18px;
    color: #25252593;
}

.header_desktop .search_input::placeholder {
    color: rgb(104, 104, 104);
}

.header_desktop .search_input:focus,
.search_input_mobile:focus {
    border: 2px solid #41b294;
    outline: none;
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
    border-radius: 5px;
}

.header .menu_item {
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
    font-size: 15px;
}

.header_tablet .menu_item:hover:first-child form,
.header_mobile .menu_item:hover:first-child form {
    color: black;
    transition: all 0s;
}

.header_tablet .menu_item:hover,
.header_mobile .menu_item:hover {
    color: white;
    transition: all 0.3s;
}

.header_desktop .menu_item:hover {
    color: #41b294;
}

.header_desktop .sub-menu {
    position: absolute;
    top: 32px;
    left: -10px;
    z-index: 999;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(1, 135, 126, 0.7);
    min-width: 200px;
    min-height: 0;
    transition: all 0.3s linear;
    color: black;
}

.header_tablet .sub-menu,
.header_mobile .sub-menu {
    position: absolute;
    top: 0px;
    left: -200px;
    z-index: 999;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(1, 135, 126, 0.7);
    min-width: 200px;
    transition: all 0.3s linear;
    color: black;
}

.course_cate:hover .sub-menu {
    min-height: 260px;
}

.header .sub-menu_item {
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s;
}

.header_desktop .event:hover .sub-menu {
    min-height: 130px;
}

.header_tablet .event:hover .sub-menu,
.header_mobile .event:hover .sub-menu {
    min-height: 150px;
}

.header .sub-menu_item:hover {
    color: white;
}

.header_desktop .logOut_btn i {
    color: #f6ba35;
    font-size: 18px;
    font-weight: 900;
}

.header_desktop .logOut_btn {
    transform: translateX(30px);
    transition: all 0.3s;
}

.header_desktop .logOut_btn i {
    -webkit-text-stroke: 1px;
}

.header_desktop .userMenu:hover .logOut_btn {
    transform: translateX(55px);
    transition: all 0.3s;
}
