.footer {
    background: #f0f8ff;
    font-family: 'Poppins', sans-serif;
}

.footer-social i {
    width: 30px;
    height: 30px;
    color: #fff;
    background: #41b294;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    transition: all 0.5s;
}

.footer-social i:hover {
    box-shadow: 1px 2px 2px 1px #636363;
}

.footer_contact i {
    width: 40px;
    height: 40px;
    color: #fff;
    background: #41b294;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
}

.footer_logo {
    color: #252525;
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    transition: all 0.3s;
    text-shadow: 5px -2px 3px #54d2c0;
}

.textV {
    font-size: 40px;
    color: #41b294;
}

.formFooter {
    margin: 3px 0;
    outline: none;
    border: none;
    width: 300px;
    max-width: 100%;
    height: 40px;
    border: 2px solid #41b294;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #f5f5f5;
}

.footer .btnGlobal {
    padding: 5px 10px;
    color: white;
    background-color: #f6ba35;
    border: none;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 15px;
}

.formFooter:focus {
    transform: translateX(-2px);
}

.footer .btt_button i {
    -webkit-text-stroke: 1px;
}
