.bg-avatar {
    width: 230px;
    height: 230px;
    border-radius: 10px 100px 100px;
    background: #ed85ab;
}

.smallBox {
    position: absolute;
    z-index: 1;
    height: 10%;
    width: 10%;
    background-image: radial-gradient(#41b294 10%, transparent 11%),
        radial-gradient(#41b294 10%, transparent 11%);
    background-size: 10px 10px;
}

.reviewStudent .smallboxLeftTop {
    top: 0;
    left: 0;
    height: 70px;
    width: 10%;
}

.reviewStudent .smallboxRightTop {
    top: 0;
    width: 80px;
    right: 40%;
    height: 50px;
}

.reviewStudent .triangleTopRight {
    top: 0;
    left: 0;
}

.reviewStudent .smallboxLeftBottom {
    border-radius: 50%;
    bottom: 0;
    left: 30%;
    height: 80px;
    width: 80px;
}

.triangleTopRight {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 5%;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid #f6ba35;
}
