.bannerEvent{
    position: relative;
    background-image: url("https://demo2.cybersoft.edu.vn/static/media/backroundTech.a989a5f8.jpg"
    );
    -webkit-filter: grayscale(50%);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    filter: grayscale(50%);
    height: 80vh;
}

.bannerEvent::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: url("https://demo2.cybersoft.edu.vn/static/media/high-techbrain.2f38d2ab.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
}

.timeBannerEvent{
    position: relative;
    z-index: 20;
    padding: 120px 50px;
    color: white;
    text-transform: uppercase;
}


.timeEvent p:first-child{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}


.imgEvent {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 10px 0;
}

.imgEvent img {
    width: 100%;
    height: 270px;
    object-fit: contain;
}

.inforEvent h5 {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #9f1f56;
    font-size: 30px;
    font-weight: 600;
}

.inforEvent button {
    color: white;
    padding: 5px 20px;
    transition: 0.5s;
}
.inforEvent button:hover {
    transform: scale(0.95);
}

.speecher {
    position: relative;
    background-image: url("https://demo2.cybersoft.edu.vn/static/media/backroundTech.a989a5f8.jpg");
    -webkit-filter: grayscale(30%);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    filter: grayscale(30%);
}
.speecher>h6, .donors>h6{
    z-index: 10;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: #f6ba35;
    font-weight: 600;
    text-transform: uppercase;
}


.containSpeecher h6 {
    padding: 5px 0;
    font-weight: 600;
    font-size: 15px;
   ;
}

.contentDonors img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.contentDonors p{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

