.titleCarousel{
    padding: 50px;
    text-transform: uppercase;
    background-color: #ffd60a;
    color: white;
}

.blogCourseContainer {
    padding: 20px 50px;
}

.icontitle {
    color: #ed85ab;
    padding-right: 10px;
    font-size: 30px;
}

.itemBlog h6 {
    font-size: 20px;
    padding: 10px 0;
}

.blogRightBox>h6 {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 3px solid forestgreen
}

.blogRightBox ul li {
    padding: 10px 20px;
    list-style: none;
    transition: 0.5s;
    color: green
}
.blogRightBox ul li:hover {
    transform: translateY(-3px);
}

.itemBlog .blogRightBox ul li a {
    color: #8c8c8c;
    transition: all .5s;
}

.itemBlog img {
    height: 300px;
    width: 450px;
    object-fit: cover;
    object-position: center;
}
