@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: 'Roboto', sans-serif;
}

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: var(--font-family);
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        overflow-y: auto;
    }

    body::-webkit-scrollbar {
        width: 0;
    }
}
